<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <form class="form-horizontal">
        <fieldset>
          <!-- Form Name-->
          <legend>Add project</legend>
          <!-- Text input-->
          <div class="form-group">
            <label for="name" class="col-md-4 control-label">Name</label>
            <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="Enter your name" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="Enter your email id" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Password input-->
          <div class="form-group">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-4">
              <input id="password" name="password" type="password" placeholder="Enter a password" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label for="contact" class="col-md-4 control-label">Contact no.</label>
            <div class="col-md-4">
              <input id="contact" name="contact" type="text" placeholder="Enter your contact no." required="" class="form-control input-md">
            </div>
          </div>
          <!-- Select Basic-->
          <div class="form-group">
            <label for="blood_group" class="col-md-4 control-label">Blood Group</label>
            <div class="col-md-4">
              <select id="blood_group" name="blood_group" class="form-control">
                <option value="-1">Select</option>
                <option value="1">A+</option>
                <option value="2">B+</option>
                <option value="3">AB+</option>
                <option value="4">O+</option>
                <option value="5">A-</option>
                <option value="6">B-</option>
                <option value="7">AB-</option>
                <option value="8">O-</option>
              </select>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label for="street" class="col-md-4 control-label">Street</label>
            <div class="col-md-4">
              <input id="street" name="street" type="text" placeholder="Enter your street" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label for="area" class="col-md-4 control-label">Area</label>
            <div class="col-md-4">
              <input id="area" name="area" type="text" placeholder="Enter your area" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label for="city" class="col-md-4 control-label">City</label>
            <div class="col-md-4">
              <input id="city" name="city" type="text" placeholder="Enter your city" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label for="dist" class="col-md-4 control-label">District</label>
            <div class="col-md-4">
              <input id="dist" name="dist" type="text" placeholder="Enter your district" required="" class="form-control input-md">
            </div>
          </div>
          <!-- Button-->
          <div class="form-group">
            <label for="signup" class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button id="signup" name="signup" class="btn btn-success">Sign Up</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
