<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Add project</h2>
                <hr>
                <form method="post" action="/add">
                    <div class="form-group">
                        <label>Project name:</label>
                        <input type="text" class="form-control" id="text" placeholder="Enter project name">
                    </div>
                    <div class="form-group">
                        <label for="text">Description:</label>
                        <textarea style="resize: none;" class="form-control" rows="5" placeholder="Describe your project"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="text">URL address:</label>
                        <input type="text" class="form-control" id="text" placeholder="Enter your site url" name="url-site">
                    </div>
                    <div class="form-group">
                        <label for="text">API url address:</label>
                        <input type="text" class="form-control" id="text" placeholder="Enter your api url (http://example.com/api)" name="url-api">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
