doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      h2 Vertical (basic) form
      form(action='/add', method='POST')
        .form-group
          label(for='email') Email:
          input#email.form-control(type='email', name='email', placeholder='Enter email')
        .form-group
          label(for='pwd') Password:
          input#pwd.form-control(type='password', name='password', placeholder='Enter password')
        .checkbox
          label
            input(type='checkbox', name='checkbox')
            |  Remember me
        button.btn.btn-default(type='submit') Submit
